APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/belajar_ai/public

DB_HOST=localhost
DB_PORT=3306
DB_NAME=bank_sampah_desa
DB_USER=root
DB_PASSWORD=

SESSION_LIFETIME=3600
TIMEZONE=Asia/Jakarta
